<style>
  .checked {
    color: orange;
  }
  .commentsDiv{
    border: 1px;
    border-radius: 0rem !important;
    box-shadow: 1px 1px 1px 1px #9e9a9a8f;
    /* transition: all 0.3s ease; */
    background-color: #ffffff;
    padding: 12px;
  }
  .tbold{
    font-weight: bold;
  }
  .star {
    font-size: 2rem;
    color: #b0c4de;
  }
  .filled {
    color: darkorange;
  }
</style>
<!--Model Overview-->
<div class="card">

  <div class="card-body"  *ngIf="modelObj">
    <h3 class="card-title" style="color: darkblue;">{{modelObj.model_name}}
      <ngb-rating [(rate)]="currentRate" max="5" (rateChange)='rateModel()'>
        <ng-template let-fill="fill">
          <span  class="star" [class.filled]="fill === 100">&#9733;</span>
        </ng-template>
      </ngb-rating>
    </h3>

    <div class="pull-right">
      <button class="btn btn-success" (click)="rating(modelObj._id)">Rate</button>
    </div>

    <div class="pull-right" *ngIf="restrictRating">
      <h5 style="color: red">You can't rate your own model!!</h5>
    </div>
    <p class="card-title" style="color: darkblue;">{{modelObj.experiment}}</p>

    <!--<div class="pull-right">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
    <h6 class="card-subtitle mb-2 text-muted">{{modelObj.categoryID}}</h6>
    </div>-->
    <h6 class="card-subtitle mb-2 text-muted">{{modelObj.category}}</h6>
    <p class="card-text"></p>
    <button mat-flat-button style="background-color: #1c214bad;color: white" (click)="downloadFilesInZip()" target="_blank"> <i class="fa fa-download"></i> Download</button>

  </div>
</div>
<!--Model detailed view-->
<div>
  <!-- Nav tabs -->
  <tabset *ngIf="modelObj">
    <tab heading="OVERVIEW">
      <br/>
      <div style="padding-left: 20px">
        <table>
          <tbody>
            <tr>
              <td class="tbold">Model Name</td>
              <td>:</td>
              <td>{{modelObj.model_name || 'N/A'}}</td>
            </tr>
            <tr>
              <td class="tbold">Experiment</td>
              <td>:</td>
              <td>{{modelObj.experiment || 'N/A'}}</td>
            </tr>
            <tr>
              <td class="tbold">Author</td>
              <td>:</td>
              <td>{{modelObj.Author || 'N/A'}}</td>
            </tr>
            <tr>
              <td class="tbold">Category</td>
              <td>:</td>
              <td>{{modelObj.categoryID || 'N/A'}}</td>
            </tr>
            <tr>
              <td class="tbold">Framework</td>
              <td>:</td>
              <td>{{modelObj.framework || 'N/A'}}</td>
            </tr>
            <tr>
              <td class="tbold">Size</td>
              <td>:</td>
              <td>{{modelObj.size || 'N/A'}}</td>
            </tr>
            <tr>
              <td class="tbold">Input Tensors</td>
              <td>:</td>
              <td>{{modelObj.InputTensors || 'N/A'}}</td>
            </tr>
            <tr>
              <td class="tbold">Output Tensors</td>
              <td>:</td>
              <td>{{modelObj.OutputTensor || 'N/A'}}</td>
            </tr>
            <tr>
              <td class="tbold">Optimizer</td>
              <td>:</td>
              <td>{{modelObj.Optimizer || 'N/A'}}</td>
            </tr>
            <tr>
              <td class="tbold">Loss Function</td>
              <td>:</td>
              <td>{{modelObj.LossFunction || 'N/A'}}</td>
            </tr>
            <tr>
              <td class="tbold">Accuracy Value</td>
              <td>:</td>
              <td> {{modelObj.AccuracyValue || 'N/A'}}</td>
            </tr>
            <tr>
              <td class="tbold">Loss Value</td>
              <td>:</td>
              <td>{{modelObj.LossValue || 'N/A'}}</td>
            </tr>
            <tr>
              <td class="tbold">Year</td>
              <td>:</td>
              <td>{{modelObj.Year || 'N/A'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </tab>

    <tab heading="PUBLICATION">
      <p>Comming Soon</p>
    </tab>

    <tab heading="ARCHITECTURE">
      <img [src]="modelObj.URL"/>
    </tab>

    <tab heading="TEST">
      <h6>Comming Soon....</h6>
    </tab>

    <tab heading="COMMENTS">
      <div *ngFor="let expComments of expComments">
        <div class="commentsDiv">
          <p style="color: #6b6363">
            <i class="fa fa-user fa-x"></i>
            <i>
               <strong>{{expComments.fullName}}</strong>({{expComments.emailID}}) posted comment on <strong>{{expComments.postedDate}}</strong>
            </i>
          </p>
          <span>
          {{expComments.comments}}
          </span>
        </div>
      </div>
      <br/>
      <div class="row" style="padding-left: 12px">
        <textarea class="form-control col-lg-8" name="comment" [(ngModel)]="comment"></textarea>
        <button class="btn btn-info float-right" style="color: white" (click)="postComment()"><b>Comment</b></button>
      </div>
    </tab>
  </tabset>
</div>

